<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>jQuery full calendar with RubyOnRails | VinSol</title>
    <meta name="description" content="Integration of jQuery full calendar plugin with rubyonrails backend by Akhil Bansal at VinSol" />
    <meta name="keywords" content="jQuery, calendar, rubyonrails, vinsol, full calendar plugin" />
    <meta name="author" content="Akhil Bansal" />
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  </head>
  <body class="subpage">
    <div class="wrapper">
      <div class="subPageContent">
        <% if flash[:notice] -%>
        <div id = 'flash_notice'>
          <%= flash[:notice] %>
        </div>
        <% end -%>
        <% if flash[:error] -%>
        <div id = 'flash_error'>
          <%= flash[:error] %>
        </div>
        <%end -%>
        <span>
          <div id = 'loading'>
            Loading...
          </div>
        </span>
        <div class="aplicationContent">
          <div class="appRightContent">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      authenticity_token = "<%= form_authenticity_token %>"
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-1010763-3");
        pageTracker._trackPageview();
        } catch(err) {}</script>
  </body>
</html>
